<settings>

    <setting propertyKey="@Properties.HandStyle" title="@Strings.HandStyleTitle">
        <settingConfig type="list">
            <listEntry value="3">@Strings.HandStyleRounded</listEntry>
            <listEntry value="0">@Strings.HandStyleClassic</listEntry>
            <listEntry value="1">@Strings.HandStyleSword</listEntry>
            <listEntry value="2">@Strings.HandStyleDiamond</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HandLength" title="@Strings.HandLengthTitle">
        <settingConfig type="list">
            <listEntry value="80">@Strings.HandLengthShort</listEntry>
            <listEntry value="90">@Strings.HandLengthMedium</listEntry>
            <listEntry value="100">@Strings.HandLengthStandard</listEntry>
            <listEntry value="110">@Strings.HandLengthLong</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSecondHand" title="@Strings.ShowSecondHandTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.Brightness" title="@Strings.BrightnessTitle">
        <settingConfig type="list">
            <listEntry value="100">@Strings.Brightness100</listEntry>
            <listEntry value="80">@Strings.Brightness80</listEntry>
            <listEntry value="60">@Strings.Brightness60</listEntry>
            <listEntry value="40">@Strings.Brightness40</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.TickColor" title="@Strings.TickColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLtGray</listEntry>
            <listEntry value="0x555555">@Strings.ColorDkGray</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowRainForecast" title="@Strings.ShowRainForecastTitle" prompt="@Strings.ShowRainForecastPrompt">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowCloudCover" title="@Strings.ShowCloudCoverTitle" prompt="@Strings.ShowCloudCoverPrompt">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.CloudCoverRipple" title="@Strings.CloudCoverRippleTitle" prompt="@Strings.CloudCoverRipplePrompt">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.LocationOverride" title="@Strings.LocationOverrideTitle" prompt="@Strings.LocationOverridePrompt">
        <settingConfig type="alphaNumeric" />
    </setting>

    <setting propertyKey="@Properties.DateColor" title="@Strings.DateColorTitle">
        <settingConfig type="list">
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLtGray</listEntry>
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0x00FFFF">@Strings.ColorCyan</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.RingDataSource" title="@Strings.RingDataSourceTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.RingSourceBodyBattery</listEntry>
            <listEntry value="1">@Strings.RingSourceWatchBattery</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.RingColorByLevel" title="@Strings.RingColorByLevelTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ColorblindMode" title="@Strings.ColorblindModeTitle" prompt="@Strings.ColorblindModePrompt">
        <settingConfig type="boolean" />
    </setting>

</settings>
